@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v14/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanstc/v26/-nFlOG829Oofr2wohFbTp9i9WyEKSehbzKSBjgyYqEML3A_ajbajwVJ5kTuPLNzqyAbPohbs.0.woff2) format('woff2');
  unicode-range: U+1f921-1f930, U+1f932-1f935, U+1f937-1f939, U+1f940-1f944, U+1f947-1f94a, U+1f950-1f95f, U+1f962-1f967, U+1f969-1f96a, U+1f980-1f981, U+1f984-1f98d, U+1f990-1f992, U+1f994-1f996, U+1f9c0, U+1f9d0, U+1f9d2, U+1f9d4, U+1f9d6, U+1f9d8, U+1f9da, U+1f9dc-1f9dd, U+1f9df-1f9e2, U+1f9e5-1f9e6, U+20024, U+20487, U+20779, U+20c41, U+20c78, U+20d71, U+20e98, U+20ef9, U+2107b, U+210c1, U+22c51, U+233b4, U+24a12, U+2512b, U+2546e, U+25683, U+267cc, U+269f2, U+27657, U+282e2, U+2898d, U+29d5a, U+f0001-f0005, U+f0019, U+f009b, U+f0101-f0104, U+f012b, U+f01ba, U+f01d6, U+f0209, U+f0217, U+f0223-f0224, U+fc355, U+fe327, U+fe517, U+feb97, U+fffb4;
}

:root {
  --blue: #0056aa;
}

html {
  overflow: hidden;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1400px;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
  display: inline-block;
  cursor: pointer;
}

ul, li, ol {
  list-style: none;
}



.common-btn {
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  overflow: hidden;
  border: 1px solid var(--blue);
  color: var(--blue);
}


.common-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue);
  width: 250px;
  height: 100%;
  transform: skewX(-40deg) translateX(-280px);
  transition: .3s;
  z-index: -1;
}

.common-btn:hover {
  border: 1px solid var(--blue);
  color: #fff;
}

.common-btn:hover:before {
  transform: skewX(-40deg) translateX(-25px);
}

.header-wrap {
  position: fixed;
  /* width: 1400px; */
  width: 100%;
  /* overflow: hidden; */
  top: 0;
  transition: all 0.3s ease 0s;
  height: 80px;
  z-index: 99999;
  background-color: transparent;
}


.scroll, .header-wrap:hover {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}


.header-wrap .header-inner {
  width: 1400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-wrap .header-inner h1 {
  margin-right: 135.8px;
}

.header-wrap .header-inner h1 a {
  width: 166.2px;
  height: 40.1px;
  overflow: hidden;
  position: relative;
}

.header-wrap .header-inner h1 a img {
  position: absolute;
  height: 100%;
  top: 0;
  left: -182px;
}

.scroll .header-inner h1 a img, .header-wrap:hover .header-inner h1 a img {
  left: 0;
}

.header-wrap .header-inner nav {
  flex: 1;
  height: 100%;
}

.header-wrap .header-inner nav .gnb {
  display: flex;
}

.header-wrap .header-inner nav .gnb .main-menu a {
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  display: block;
  padding: 28px 20px;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
}

.header-wrap .header-inner nav .gnb .main-menu:hover > a {
  border-bottom: 1px solid var(--blue);
}

.scroll .header-inner nav .gnb .main-menu a, .header-wrap:hover .header-inner nav .gnb .main-menu a {
  color: #222;
}

.header-wrap .header-inner nav .gnb .main-menu .sub-menu {
  position: absolute;
  display: none;
  height: 80px;
  width: 100vw;
  top: 80px;
  left: 0;
  /* margin: 0 auto; */
  background-color: #fff;
  text-align: center;

}

.header-wrap .header-inner nav .gnb .main-menu:hover .sub-menu {
  display: block;
  overflow: hidden;
}

.header-wrap .header-inner nav .gnb .main-menu:hover .sub-menu ul li {
  /* float: left; */
  display: inline-block;
}

.header-wrap .header-inner .header-utils {
  display: flex;
  align-items: center;
  line-height: 22px;
}

.header-wrap.scroll .header-inner .header-utils .header-search, .header-wrap:hover .header-inner .header-utils .header-search {
  background-color: #222;
}

.header-wrap .header-inner .header-utils>div {
  padding: 5px 15px;
  border-radius: 50px;
}

.header-wrap .header-inner .header-utils>div:first-of-type {
  margin-right: 10px;
}

.header-wrap .header-inner .header-utils a {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-wrap.scroll .header-inner .header-utils .header-market, .header-wrap:hover .header-inner .header-utils .header-market {
  background-color: var(--blue);
}

.btn-icon span {
  display: inline-block;
  margin-right: 8px;
}

.mySwiper {
  width: 100%;
  height: 100vh;
  min-width: 1500px;
  margin: 0;
  padding: 0;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.mySwiper .swiper-slide video {
  /* display: block; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mySwiper .video-control {
  position: absolute;
  top: 70%;
  width: 100%;
  min-width: 1500px;
  margin-left: 60px;
  /* transform: translate(-50%,-50%); */
  display: flex;
  z-index: 900;
}

.mySwiper .video-control .swiper-pagination {
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  margin-left: 50px;

}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet p {
  cursor: pointer;
  color: #fff;
  /* background-color: red; */
}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet > .progress {
  display: none;
  width: 60px;
  height: 2px;
  background: hsla(0,0%,100%,.3);
  position: relative;
  margin-left: 10px;
}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active {
  width: 110px;
}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active >.progress {
  display: flex;

}

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active > .progress:before {
  content: '';
  animation-name: progressbar;
  animation-play-state: running;
  animation-duration: 11s;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 100%;
}

/* .mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active > .progress:before.progress-pause {
  animation-play-state: paused;
} */

.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active + .bar2:before , .mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active + .bar3:before {
  animation-duration: 12s;
}
.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active + .bar4:before {
  animation-duration: 25s;
}
.mySwiper .video-control .swiper-pagination .swiper-pagination-bullet-active + .bar5:before {
  animation-duration: 14s;
}

@keyframes progressbar {
  0%  {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.mySwiper .video-control .slider-ctrl-btn-box {
  margin-left: 360px;
  margin-bottom: 20px;
  z-index: 200;
}

.mySwiper .video-control .slider-ctrl-btn-box button {
  padding: 0 5px;
  background-color: transparent;
  border: 0;
  opacity: .4;
}

.mySwiper .video-control .slider-ctrl-btn-box button.on {
  opacity: 1;
}

.mySwiper .maintext {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-left: 207px;
  color: #fff;
}

.mySwiper .maintext h2 {
  font-size: 50px;
  margin-bottom: 36px;
}

.mySwiper .maintext p {
  font-size: 24px;
}

/* .swiper-pagination {
  position: absolute;
} */
.mySwiper .swiper-button-next:after {
  content: url("../img/icons/btn-caret-right.png");
  margin-right: 50px;
}

.mySwiper .swiper-button-prev:after {
  content: url("../img/icons/btn-caret-left.png");
  margin-left: 50px;
}

.scroll-mouse {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  animation: upDown .5s linear 0s infinite alternate;
}

.scroll-mouse>img {
  position: absolute;
  object-fit: cover;
  z-index: 500;
  bottom: 0;
  margin-bottom: inherit;
}

@keyframes upDown {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 10px;
  }
}

.count-year {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: var(--blue);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-year .count-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1400px;
  margin: 0 auto;
}

.count-year .count-items>span {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.count-year .count-items>span>em {
  display: flex;
}

.count-year .count-items>span>em>div {
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 75px;
  width: fit-content;
}

.count-year .count-items>span>em>span {
  font-size: 30px;
  font-weight: 400;
  padding-top: 40px;
  padding-left: 8px;
  height: 120px;
}

.count-year .count-items>span p {
  margin-top: 20px;
  width: 170px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 300px;
}

#products {
  width: 100%;
  min-width: 1400px;
  height: 100%;
  display: flex;
  overflow: hidden;
}

#products .product-item {
  width: 25%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#products .product-item span {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-size: 20px;
 z-index: 2;
}

#products .product-item .product-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align:center
}

#products .product-item .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

#products .product-item:hover .product-img img {
  transform: scale(1.2);
}



.fourth {
  min-width: 1400px;
}

.fourth .inner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: .6s;
}

.fourth .inner img {
  /* position: relative; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}

.fourth:hover .inner img {
  transform: scale(1.2);
}

.fourth .inner .box {
  width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fourth .inner .box.right {
  text-align: right;
}

.fourth .inner .box h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}

.fourth .inner .box .sub-title {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -.54px;
  margin-bottom: 90px;
}

.fourth .inner .box a {
  border: 1px solid #222;
  color: #222;
}

.fourth .inner .box a:hover {
  border: 1px solid var(--blue);
  color: #fff;
}


.quick-menu {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  min-width: 1480px;
}

.quick-menu .quick-items .quick-item {
  width: 288px;
  height: 288px;
  margin-right: 72px;
  border-radius: 50%;
  background: var(--blue);
  position: relative;
  transition: .6s;
}

.quick-menu .quick-items .quick-item:hover {
  background: #fff;
  color: var(--blue);
}

.quick-menu .quick-items .quick-item .quick-item-inner {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 57px;
  z-index: 1;
}

.quick-menu .quick-items .quick-item .quick-item-inner .quick-img {
  width: 160px;
  margin-bottom: 17px;
  height: 100%;
  overflow: hidden;
}

.quick-menu .quick-items .quick-item .quick-item-inner .quick-img img {
  position: relative;
}

.quick-menu .quick-items .quick-item:hover .quick-item-inner .quick-img img {
  left: -160px;
}

.quick-menu .quick-items .quick-item .quick-item-inner h3 {
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.quick-menu .quick-items .quick-item:hover .quick-item-inner h3 {
  color: var(--blue);
}

.myfeed-insta {
  padding-top: 40px;
  height: 100vh;
  width: 1400px;
  margin: 0 auto;
  /* padding-bottom: 40px; */
}

.myfeed-insta h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 71px;
  margin-bottom: 30px;
  font-family: 'Public Sans', sans-serif;
}

.myfeed-insta .inner-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.myfeed-insta .instafeed-inner {
  width: 320px;
  height: 320px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 40px;
  margin-bottom: 40px;
}

.myfeed-insta .instafeed-inner .instafeed-cont {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #222;
}

.myfeed-insta .instafeed-inner .instafeed-cont .instafeed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.myfeed-insta .instafeed-inner .instafeed-cont:hover .instafeed-img {
  transform: scale(1.2);
}

.myfeed-insta .instafeed-inner .instafeed-cont .instafeed-type {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-notice {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  width: 1400px;
  margin: 0 auto;
}

.notice-cont {
  width: 680px;
  position: relative;
}

.notice-cont h3 {
  font-size: 35px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}

.notice-cont .notice-desc-wrap {
  display: flex;
  height: 239px;
  flex-direction: column;
}

.notice-cont .notice-desc-wrap .notice-desc {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #edeff5;
}

.notice-cont .notice-desc-wrap .notice-desc .notice-ttl {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -.54px;
}

.main-notice .notice-cont .btn-all {
  position: absolute;
  top: 10px;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #222;
  overflow: hidden;
}

.main-notice .notice-cont .btn-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue);
  width: 200%;
  height: 100%;
  transform: skewX(-40deg) translateX(-130%);
  transition: .3s;
  z-index: -1;
}

.main-notice .notice-cont .btn-all span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  display: block;
}

.main-notice .notice-cont .btn-all span:first-child {
  width: 20px;
  height: 1px;
}

.main-notice .notice-cont .btn-all span:nth-child(2) {
  height: 20px;
  width: 1px;
}



.swiper2 .parallax-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.swiper2 .swiper-wrapper {
  transform: translateY(40%);
}
.swiper2 .mySlideDiv  {
  color: #fff;
  display: block;
  left: 376px;
  top: 50px;
  font-weight: 700;
  /* transition: .6s; */
}

.swiper2 .mySlideDiv  .title {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 70px;
  width: 276px;
  margin-left: 376px;
}

.swiper2 .mySlideDiv .title.longStoreName {
  font-size: 32px;
}

.swiper2 .mySlideDiv .subtitle {
  width: 276px;
  font-size: 22px;
  margin-left: 376px;
}

.swiper2 .mySlideDiv .mySlideDiv-page {
  transform: translateX(340px);
  /* margin-top: 10px; */
}

.swiper-wrapper .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.swiper-wrapper .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.swiper-wrapper .prev:hover, .next:hover {
  color: #222;
}

.footer {
  width: 100%;
  background: #f9f9f9;
  line-height: 26px;
}

.footer-inner {
  width: 1400px;
  margin: auto;
  padding: 70px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top .fnb {
  display: flex;
  font-weight: 500;
}

.footer-top .fnb li {
  margin-right: 38px;
}

.footer-top .fnb li a {
  letter-spacing: -.48px;
  color: #222;
}

.footer-top .footer-sns {
  display: flex;
  align-items: center;
}

.footer-top .footer-sns a {
  margin-right: 28px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.footer-top .footer-sns a.instagram {
  width: 23px;
  height: 23px;
}

.footer-top .footer-sns a img {
  width: 100%;
  height: 100%;
}

.footer-top .footer-sns a.instagram img {
  left: 0;
}

.footer-top .footer-sns a.facebook {
  width: 24px;
  height: 24px;
}

.footer-top .footer-sns a.facebook img {
  left: -31px;
}

.footer-top .footer-sns a.youtube {
  margin-right: 0;
  width: 25px;
  height: 21px;
}

.footer-top .footer-sns a.youtube img {
  left: -63px;
}

.footer .footer-inner .footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-inner .footer-body .footer-info {
  margin-top: 60px;
}

.footer .footer-inner .footer-body .footer-info h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -.75px;
}

.footer .footer-inner .footer-body .footer-info p {
  margin: 32px 0;
  line-height: 26px;
  letter-spacing: -.48px;
}

.footer .footer-inner .footer-body .footer-info p span {
  display: block;
  color: #555;
}

.footer .footer-inner .footer-body .footer-info small {
  color: #888;
  letter-spacing: -.42px;
  font-size: 14px;
}

.footer .footer-inner .footer-body .footer-familysite {
  box-sizing: border-box;
  width: 250px;
  height: auto;
  letter-spacing: -.48px;
  font-size: 16px;
  position: relative;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-btn {
  color: #555;
  border: 1px solid #dedede;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  position: absolute;
  background-image: url('../img/icons/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  appearance: none;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-btn:focus {
  border: 1px solid #dedede;
  background-image: url('../img/icons/select_box_arrow_focus.png');
}

select::-ms-expand { /*IE 브라우저 select box arrow button 이미지 삭제*/
  display: none;
}

.top-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #003a70;
  position: fixed;
  z-index: 99999;
  padding-top: 8px;
  opacity: 1;
  transform: translateY(0);
  transition: .3s;
  bottom: 30px;
  right: 50px;
  opacity: 0;
}

.top-btn.active {
  opacity: 1;
}

.top-btn a img {
  width: 24px;
  height: 25px;
}

.clicked img {transform: rotate(180deg);}
